body {
  text-align: center;
}



img {
  width: 720px;
  height: 720px;
}
.jumbotron {
  background-image: url("https://www.vpr.org/sites/vpr/files/styles/x_large/public/201811/snow-vpr-noyes-20181113.jpg");
  background-size: cover;
  background-position: b;
  border-radius: 25px;
  text-shadow: 1px 1px black;
}

.panel-heading {
  background-color: #80bf3388;
  margin: 10px;
  border-radius: 25px;
}

li {

  list-style: none;
}

.nav-item {
  display: flex; justify-content: center;
  margin-bottom: -50px;
  padding: 2px;
}

.nav-pills {
  display: flex; justify-content: center;
}

a.nav-link {
  color: #80bf3388;
}

a.nav-link:hover{
  text-decoration: underline;
}

body {
  background-color: #e8eefd;
  background-image: url(../img/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#ALBUM {
  font-weight: bold;
  color: black;
  text-shadow: 0 0 3px #FF0000;
}

#BAND {
  font-weight: bold;
  color: black;
  text-shadow: 0 0 3px #FF0000;
}

#myList {
  font-weight: bold;
  color: black;
  text-shadow: 0 0 3px #FF0000;
}
